@import "tailwindcss";

@theme {
  /*breackpoints*/
  --breakpoint-sm: 384px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /*spacing*/
  --spacing-0: 0px;
  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 15px;
  --spacing-4: 20px;
  --spacing-5: 25px;
  --spacing-6: 30px;
  --spacing-7: 35px;
  --spacing-8: 40px;
  --spacing-9: 45px;
  --spacing-10: 50px;
}

:root {
  /* foreground */
  --foreground-primary: #111624;
  /* background */
  --background-primary: #F7F7FA;
  --background-secondary: #E2E4EB;
  /* primary */
  --blue-primary: #459EE3;
  --pink-primary: #FF66B2;
  --orange-primary: #FFA559;
  --green-primary: #62C370;
  /* secondary */
  /* tertiary */
}

.text-h1 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
}